[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = "*"
django-bootstrap5 = "*"
fontawesomefree = "*"
python-decouple = "*"
typing-extensions = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
