{% extends 'gestao_de_indicadores/base.html' %}

{% block content %}
<div class="row mt-4">
  <div class="col-md-2">
    <div class="card">
      <div class="card-body">
        <div class="d-grid gap-2">
          {% for indicador in indicadores %}
            <button
            class="btn {% if indicador.is_painel_kpi%}btn-warning{% else %}btn-secondary{% endif %} 
                   btn-small 
                   btn-menu-indicador {% if indicador.is_auditorias %}active{% endif %}
                   {% if indicador.is_painel_kpi %}painel-kpi{% endif %}"
                   data-indicador-id="{{ indicador.id }}">{{ indicador.nome }}</button>
          {% endfor %}
        </div>

        <div class="d-grid gap-2 mt-4">
          <label for="periodo-select" class="text-center"><strong>Período</strong></label>
          <select id="periodo-select" class="form-select form-control">
          </select>
        </div>

        <div class="d-grid gap-2 mt-4">
          <label for="cliente-select" class="text-center"><strong>Cliente</strong></label>
          <select id="cliente-select" class="form-select form-control">
            <option></option>
            {% for cliente in clientes %}
              <option value="{{ cliente.id }}">{{ cliente.razao_social }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>

  <div id="indicador-container" class="col-md-10">
    {% include 'gestao_de_indicadores/indicador.html' with indicador=indicador_auditoria %}
  </div>
</div>
{% endblock %}
